/*ul {
    /*list-style-type: circle;*/
    /*list-style-type: square;*/
    /*list-style-image: url("../images/icon.png");*/


ol {
    list-style-type: lower-alpha;
}


ul {
    list-style-type: none;
    border-width: 2px;
    border-style: solid grey;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 2px solid grey;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid grey;
}

ol {
    background: #ffeeee;
    padding: 15px;
}

ol li {
    background: #ffe5e5;
    padding: 10px;
    margin-left: 30px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #eee;
    padding: 15px;
}

tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

tbody tr:nth-child(even) {
    background-color: #e495e4;
}

thead {
    background-color: red;
}

div {
    overflow: scroll;
    background-color: aqua;
    width: 200px;
    height: 200px;
}